body{
  background-color: rgb(26, 24, 21);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  color: whitesmoke;
  font-size: 30px;
}

#mainSong{
  background-color: rgb(37, 7, 7);
  width: 80%;
  height: 80vh;
  padding: 20px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newest{
  position: absolute;
  font-size: 30px;
  font-style: italic;
}

#mainSong video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#songLibrery{
  background-color: rgb(37, 7, 7);
  width: 80%;
  height: 100%;
  padding: 20px;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#songLibrery{
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: start;
}

.song {
  width: calc(25% - 10px);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .song {
    width: calc(33.33% - 10px);
  }
}

@media (max-width: 768px) {
  .song {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .song {
    width: 100%;
  }
}

.song img {
  width: 100%;
  height: auto;
}

.song-title { 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  font-size: 20px;
  font-weight: bold; 
}

.play-button {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 2, 2, 0.1);
  border-style: solid;
  border-color: rgb(255, 2, 2, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  font-size: 100px;
  cursor: pointer;
}

.song:hover .song-title{
  background: rgba(0, 0, 0, 0.8);
}

.play-button:hover {
  background: rgb(255, 2, 2);
  border-color: rgb(255, 2, 2);
}

.selected{
  border-style: solid;
  border-color: rgb(255, 2, 2);
}